.hidden {
	display: none;
}

#tooltip {
	position: fixed;
	color: black;
	background-color: white;
	font-size: 16px;
	opacity: 0.8;
	padding: 2px 5px;
	border: 1px solid black;
}

.highlight {
	background-color: yellow;
	border: 2px solid red;
	font-weight: bold;
}

.containsJSON, .containsJSON * {
	color: #777;
	background-color: white;
	font-family: monospace;
}

#faceIdEditor {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	opacity: 0.9;
	background: red;
	color: yellow;
}
#faceIdEditor pre {
	white-space: pre-wrap;
	font-family: mono;
	color: white;
}

button.simple {
	color: black;
	background-color: #ccc;
	border: 1px solid #aaa;
	padding: 5px;
	text-transform: none;
	font-size: 12pt;
	margin-bottom: 10px;
}

/* from http://stackoverflow.com/a/31458204 */
@keyframes fadeIn { 
	from { 
		opacity: 0; 
	} 
}
.pulse { 
	color: yellow;
	background: red;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	animation: fadeIn 0.5s infinite alternate; 
}

