#toast {
    width: 10em;
    position: fixed;
    top: 1em;
    right: 1em;
    background-color: #a40;
    color: white;
    padding: 10px;
    z-index: 9999;
    border-radius: 10px;
    text-align: center;    
}