#searchPanel {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    background: #111;
    padding: 10px;
    opacity: 0.95;
    z-index: 9999;
}

#searchPanel input[type="text"] {
    padding: 0;
}

#searchPanel ul {
    margin-left: 10px;
    list-style-type: none;
}

#searchPanel ul * {
    color: #eee;
}

#searchPanel a {
    text-decoration: none;
    display: inline-block;
}

#searchPanel a:focus, 
#searchPanel a:hover,
#searchPanel a:focus *, 
#searchPanel a:hover * {
    color: black;
}

#searchPanel p {
    position: fixed;
    bottom: 0;
    text-align: right;
    font-family: monospace;
    color: yellow;
    width: 250px;
}

#searchPanel li em {
    font-size: 10px;
    font-style: normal;
    color: rgb(162, 203, 247);
}

#searchPanel li.selected {
    outline: 1px solid red;
}

#searchPanel div {
    color: white;
}
#searchPanel div a {
    color: white;
    text-decoration: underline;
}